# Requirements to dev/test the source code

# - HA core reqs: https://github.com/home-assistant/core/blob/dev/requirements.txt

# for using the ramses_rf library with CLI
  -r requirements.txt


# libraries required for development (lint/type/test)...
# - pip list | grep -E 'pre-commit|ruff|mypy|types-|voluptuous|pytest|hatch'

# used for development (linting)
  prek == 0.4.8                                 # latest, same as ramses_cc
  ruff >= 0.15.21                               # HA uses 0.15.5 ! also in: pre-commit-config.yaml

# used for development (typing)
  mypy >= 2.3.0                                 # HA uses  1.19.0a4 !
  types-colorama >= 0.4.15.20260508
  types-PyYAML >= 6.0.12.20260518               # HA uses 6.0.12.20250516
  types-pyserial
  voluptuous >= 0.15.2                           # HA uses 0.15.2

# used for testing
  pytest >= 9.1.1                                # HA uses 8.4.2
  pytest-asyncio >= 1.4.0                        # HA uses 1.2.0
  pytest-cov >= 7.1.0                            # HA uses 6.2.1, includes coverage.py as dep
  pytest-sugar >= 1.1.1                          # HA uses 1.0.0
  pytest-xdist >= 3.8.0                          # HA uses 3.8.0
  PyYAML                                         # required for tests/tests/test_vol_schema import
  syrupy >= 5.5.1                                # HA uses 5.0.0 - 07/02/2026 - 2026.2.1

# used for build/deploy
  hatch >= 1.17.1
  hatchling >= 1.31.0
