# Requirements to build the code documentation from the source code
# - last checked/updated: 2025-12-02 (c.f. HA 2025.11.3)

# libraries required to build with sphinx
# - pip list | grep -E 'sphinx'

# used for generating docs
# (Note: markdown-it-py==3.x for myst-parser 4.0.1)
# (Note: sphinx 8.2.3. for furo 2025.9.25)
    furo==2025.9.25
    markdown-it-py==3.0.0
    myst-parser==4.0.1
    Sphinx==8.2.3
    sphinxcontrib-mermaid==1.2.3
    sphinx-basic-ng==1.0.0b2
    sphinx_design==0.6.1
