# Requirements to use the library via its CLI client.py

# library requirements (dependencies) are in pyproject.toml
# - pip list | grep -E 'ramses|color|paho-mqtt|pyserial|voluptuous'

# -e .


# also required if using the library via the CLI, client.py
# - pip list | grep -E 'aiofiles|click|colorama|debugpy'

  aiofiles >= 23.2.1
  asyncclick >= 8.4.2.1                          # NOTE: async version since 0.55.4
  colorama >= 0.4.6                              # on Windows, colorlog uses the latest colorama
  debugpy >= 1.8.21                              # can invoke via CLI
  orjson >= 3.9.0
